.Calendar {
    
}

.calendar-container {
    padding: 1.5rem;
}

.book-session-form-container {
    padding: 1.5rem;
}

.debug-panel {
    background: lightgrey;
    width: 80%;
    align: center;
    margin: auto;
    padding: 0.75rem;
    border-radius: 25px;
    border: solid 2px black;
}